<div class="left-col">
      <div class="nav-items">
        <h2 style="color:#06def1;">Home</h2>
      </div>
      <div class="nav-items">
        <a href="createUser"><h2>Create an Account</h2></a>
      </div>
      <div class="nav-items">
          <a href="/login"><h2>Login</h2></a>
      </div>
      <div class="nav-items">
          <a href="/message"><h2>Messages</h2></a>
      </div>
      <div class="nav-items">
          <a href="/logout"><h2>logout</h2></a>
      </div>
      <div class="nav-items">
        <button type="submit">Message</button>
      </div>
    </div>